blis==0.7.11
catalogue==2.0.10
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
confection==0.1.5
cycler==0.12.1
cymem==2.0.8
filelock==3.15.4
fonttools==4.53.1
gensim==4.3.2
huggingface-hub==0.23.4
idna==3.7
joblib==1.4.2
keybert==0.8.5
kiwisolver==1.4.5
langcodes==3.4.0
matplotlib==3.9.1
murmurhash==1.0.10
networkx==3.3
nltk==3.8.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
preshed==3.0.9
pydantic==2.8.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
requests==2.32.3
scikit-learn==1.5.1
scipy==1.12.0
seaborn==0.13.2
sentence-transformers==3.0.1
six==1.16.0
smart-open==7.0.4
spacy==3.7.5
srsly==2.4.8
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==2.3.1
tqdm==4.66.4
transformers==4.42.3
typing_extensions==4.12.2
urllib3==2.2.2
wasabi==1.1.3
